<% provide(:title, t('article')) %>
<% provide(:subtitle, 'Edition') %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form', action: :edit %>
  </div>
</div>

<%= render 'articles_supplier', action: :edit %>