<% provide(:title, "Bureau d'études") %>
<% provide(:subtitle, 'Accueil') %>

<div class="row">
  <div class="col-md-6">
    <%= render 'operations' %>
  </div>
  
  <div class="col-md-6">
    <%= render 'lastmodules' %>
  </div>
</div>