<% provide(:title, "Bureau d'études") %>
<% provide(:subtitle, 'Accueil') %>

<div class="row">
  <div class="col-md-4">
    <%= render 'operations' %>
  </div>
  
  <div class="col-md-4">
    <%= render 'lastmodules' %>
  </div>

  <div class="col-md-4">
    <%= render 'draft' %>
  </div>
</div>


