<div class="panel panel-default">
  <div class="panel-heading">
    <p>MENU</p>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to 'Fournisseurs', 'purchases/suppliers', class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Articles', "#", class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Devis', "#", class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Commandes', "#", class: 'btn btn-primary center-block' %></li>
    </ul>
  </div>
</div>