<div class="panel panel-default">
  <div class="panel-heading">
    <p>MENU</p>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to 'Fournisseurs', 'purchases?cat=suppliers', class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Articles', 'purchases?cat=articles', class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Devis', 'purchases?cat=quotes', class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Commandes', 'purchases?cat=orders', class: 'btn btn-primary center-block' %></li>
    </ul>
  </div>
</div>