<% provide(:title, "Achats") %>
<% provide(:subtitle, 'Accueil') %>

<div class="row">
  
  <% if false %>
  <div class="col-md-4">
    <%= render 'lastquoteorders' %>
  </div>
  <% end %>
  
  <div class="col-md-6">
    <%= render 'lastorders' %>
  </div>
  
  <div class="col-md-6">
    <%= render 'lastquotes' %>
  </div>
  
</div>