<% provide(:title, "Achats") %>
<% provide(:subtitle, "Accueil") %>

<div class="row" id="controller-<%= params[:controller] %>">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <%# Partie Gauche : Menu %>
        <%= render 'menu' %>
      </div>
      <div class="col-md-10">
        <%# Partie Droite : Interface achats %>
        <%= render 'interface' %>
      </div>
    </div>
  </div>
</div>