<div class="home-message">
  <h1 class="animated bounce"><%= fa_icon :home %> Bienvenue !</h1>
  <p>
    Bienvenue sur l'application de création de devis <strong>Madera</strong><br>
    Construction de <strong>maison modulaire en bois</strong>
  </p>
</div>


