<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Derniers Projets</h2>
  </div>
  
  <div class="panel-body">
    <table>
          <thead>
            <tr>
              <th>Num. projet</th>
              <th>Date</th>
              <th>Nom client</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @last_projects.each do |p| %>
            <tr>
              <td><%= p.id %></td>
              <td><%= format_date(p.created_at) %></td>
              <td><%= p.customer.fullname %></td>
              <td class="text-right">
                <%= link_to(raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'), p) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>