<div class="panel panel-default">
  <div class="panel-heading">
    
    <div class="row">
      <div class="col-md-6">
      <button class="btn btn-primary">Créer projet</button>
      </div>
      <div class="row"><div class="col-md-6">
        <button class="btn btn-primary">Créer client</button>
      </div>
    </div>
  </div>
  </div>
  <div class="panel-body">
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Devis récents :</div>
        <table class="table">
          <tr>
            <th>Date</th>
            <th>Num. projet</th>
            <th>Nom client</th>
          </tr>
          <% 7.times do |i| %>
            <tr>
               <td>01/02/2017</td>
               <td><%= i*12 %></td>
               <td>Fox Mulder</td>
             </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>