<div class="panel panel-default">
  <div class="panel-heading">
    
    <div class="row">
      <div class="col-md-6">
      <%= link_to 'Créer projet', new_projects_path, class: 'btn btn-primary' %>
      </div>
      <div class="row"><div class="col-md-6">
        <%= link_to 'Créer client', '#', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Devis récents :</div>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Num. projet</th>
              <th>Nom client</th>
            </tr>
          </thead>
          <tbody>
          <% 7.times do |i| %>
            <tr>
               <td>01/02/2017</td>
               <td><%= i*12 %></td>
               <td>Fox Mulder</td>
             </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>