<%% provide(:title, t('<%= singular_table_name.titleize %>')) %>
<%% provide(:subtitle, 'Edition') %>

<div class="panel panel-default">
  <div class="panel-body">
    <%%= render 'form', action: :edit %>
  </div>
</div>