/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= required _colors

 *= require font-awesome
 *= require_tree .
 *= stub rails_admin/custom/theming.scss
 *= require_self
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'colors';
@import 'mixins';
@import 'form';

body {
  height: 100vh;
  color: $black;
  background: linear-gradient(-20deg, white, $khaki);
}

.navbar-brand {
  padding-top: 12px;
}

header {
  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: gray;
    margin: 0 auto;
    @extend .pull-right !optional;
    strong {
      font-size: 1.7em;
      color: $black;
    }
  }
  .breadcrumb {
    @extend .pull-left !optional;
    margin: 0 auto;
  }
}

#application-menu {

  .btn {
    width: 90%;
    margin-bottom: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}