/* TODO Eviter les !optional (s'assurer du chargement de bootstrap en amont) */

input[type="text"],
input[type="number"],
input[type="email"] {
  @extend .form-control !optional;
}

button {
  @extend .btn !optional;
  @extend .btn-default !optional;
  &[type="submit"] {
    @extend .btn-primary !optional;
  }
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
  table {
    tbody tr:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }
}

table {
  @extend .table !optional;
}
