<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %>" role="alert">
    <button class="close">×</button>
    <%= message %>
  </div>
<% end %>

<script>
  $alert = $('.alert');
  $alert.find('button.close').on('click', function () {
    console.log('action');
    $alert.addClass('animated zoomOutUp');
    $alert.css({
      'transition': 'all ease .5s',
      'padding': 0,
      'margin-bottom': 0,
      'height': 0
    });
  })
</script>
