<%= render 'layouts/menu' %>
<header>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
        <%= page_titles(yield(:title), yield(:subtitle)) %>
      </div>
    </div>
  </div>
</header>